<!DOCTYPE html> 
<html>
	<title>Vue Lesson 04</title>
</html>
<body>
	<div id="root">
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input type="text" id="newName" v-model="newName">
		<button @click="addName">Add Name</button>
	</div>
	<script src="../vue.js"></script>
	<script>
		var app = new Vue({
			el : "#root",
			data : {
				names: ['Alison', 'Bob', 'Chris', 'Declan', 'Edith', 'Francis'],
				newName: ""
			}, 

			methods:{
				addName() {
					this.names.push(this.newName);
					this.newName = "";
				}
			},
		});

		
	</script>
</body>